@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  scroll-behavior: smooth;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 80% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.animate-gradientMove {
  background-size: 200% 200%;
  animation: gradientMove 12s ease-in-out infinite;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-slideDown {
  animation: slideDown 0.3s ease forwards;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #0389d2 #f7fbfd;
}

html::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-track {
  background: #f7fbfd;
}

html::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #0389d2, #5ecbff);
  border-radius: 6px;
}

html::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #026ca7, #35b9f2);
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.333%);
  }
}

.animate-marquee {
  display: flex;
  animation: marquee 30s linear infinite;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
button {
  cursor: pointer;
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  appearance: textfield;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  border: none;
  outline: none;
}
